<!DOCTYPE html>
<html>
<head>
    <title> <?=$journalName?> | Journal </title> <!-- TODO Customize name -->
</head>
<body>

<h1> <?= $journalName ?> <br><br> </h1>

<? include ("C:\PersonalProjects\TrainingProject\Views\\formCreateEntry.html"); ?>

<? if ($entries === 0){ ?>
    You don't have any journal entries yet! Create one above.
<?
    } else {
        foreach ($entries as $entry){
            include ("C:\PersonalProjects\TrainingProject\Views\journalEntry.html");
        }
    }
?>

</body>
</html>
